section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 55px);
}
.home-img{
    width: 100%;
    max-width: 768px;
}
div{
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.text{
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}
