.title{
    width: 60%;
    margin-bottom: 45px;
    z-index: 1;
}
.title-img-1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17%;
    transform: translate(-50%,-50%);
}
.title-img-2{
    position: absolute;
    top: 48%;
    left: 15%;
    width: 15%;
    transform: translate(-50%,-50%);
}
.title-img-3{
    position: absolute;
    top: 48%;
    left: 90%;
    width: 20%;
    transform: translate(-50%,-50%);
}
.input-box{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 23.8%;
    background: url(../images/frame/frame2_signup_normal.webp)no-repeat center/contain;
    margin-bottom: 64px;
}
.input-main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-title{
    position: absolute;
    top: -22%;
    left: 25%;
    width: 50%;
}
.input-main a{
    position: absolute;
    top: -15px;
    right: -25px;
    display: flex;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 24%; */
    color: #FFD8AB;
    padding: 0 7.5%;
    margin: 5% 0 16px;
}
.input-group span{
    font-size: 26px;
    margin-right: 28px;
}
.input-group input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff9a;
    font-size: 20px;
    padding: 0 5%;
}
input.error{
    /* border-color: #dc143c; */
}
.input-wd{
    width: 28%;
}
.input-flex{
    position: relative;
    display: flex;
    width: 70%;
}
.input-flex>img{
    width: 100%;
}
.input-group button{
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    display: flex;
    background: transparent;
    border: 0;
    height: calc(100% + 2px);
    cursor: pointer;
}
.input-group button img{
    height: 100%;
}
.input-main p{
    color: #FFD8AB;
    margin: 0;
}
.output-box{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.output-box.active{
    display: flex;
    margin-bottom: 48px;
}
.word-1{
    color: #FFB400;
    font-size: 32px;
    margin-bottom: 20px;
}
.word-2{
    color: #FFD8AB;
    font-size: 20px;
}
.word-2 span{
    margin-left: 8px;
    font-size: 40px;
}
.output-img{
    position: relative;
    width: 80%;
    height: 0;
    background: url(../images/bg/bgimg3_signup_normal.webp)no-repeat center/contain;
    padding-bottom: 31%;
}
.output-main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10% 24% 18% 24%;
}
.output-main>div{
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.output-main>div:last-child{
    flex: .75 0 0%;
}
.output-main img{
    width: 90%;
}
.gifts-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
img.gifts-title{
    width: 50% !important;
    margin-bottom: 32px;
}
.gifts-top,
.gifts-bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background: url(../images/img_giftshelf_normal.webp)no-repeat bottom/contain; */
    /* padding: 0 5% 1%; */
    flex-wrap: wrap;
}
.gifts-top{
    margin-bottom: 32px;
}
.gifts-middle{
    display: none;
}
.gifts-box img{
    width: calc(100% / 3);
}
.modal-warp{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b8;
    z-index: 100;
}
.modal-warp.show{
    display: block;
}
.modal-window{
    position: absolute;
    top: 50%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: transparent;
    background: url(../images/img_popup_left.webp),url(../images/img_popup_right.webp),url(../images/img_popup_middle.webp);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 50px 100%,50px 100%,calc(100% - 100px + 2px) 100%;
    background-position: 0,100%,left calc(50% + 1px) top 50%;
    color: #fff;
    font-size: 26px;
    transform: translateY(-300%);
    transition: transform .8s ease;
    padding: 48px;
}
.show .modal-window{
    transform: translateY(-50%);
}
.modal-window img{
    width: 100%;
}
.btn-close{
    position: absolute;
    top: -5%;
    right: -1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    background: transparent;
    border: none;
}
.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    margin-top: 32px;
}

@media screen and (max-width:575px) {
    .break-here{
        display: block;
    }
    .title{
        width: 100%;
        margin-bottom: 32px;
    }
    .title-img-1{
        position: absolute;
        top: 75%;
        left: 90%;
        width: 30%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
    .title-img-2,
    .title-img-3{
        display: none;
    }
    .input-box{
        width: 98%;
        padding-bottom: 47.5%;
        background: url(../images/frame/frame1_signup_normal.webp)no-repeat center/contain;
        margin-bottom: 16px;
    }
    .input-title{
        position: absolute;
        top: -20%;
        left: 12.5%;
        width: 75%;
    }
    .input-wd{
        width: 45%;
    }
    .input-flex{
        position: relative;
        display: flex;
        width: 100%;
    }
    .input-group button img{
        height: 100%;
    }
    .input-main a{
        top: unset;
        bottom: -5%;
        right: -1%;
        width: 10%;
    }
    .input-rule img{
        width: 100%;
    }
    .input-group{
        flex-direction: column;
        height: auto;
        margin: -5% 0 8px;
    }
    .input-group span{
        font-size: 16px;
        margin: 0 0 8px;
    }
    .input-group input{
        width: 100%;
        min-height: 32px;
        border-width: 1px;
        font-size: 12px;
        margin: 0 0 8px;
    }
    .output-box.active{
        margin-bottom: 32px;
    }
    .output-main img{
        margin-right: 2px;
    }
    .word-1{
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }
    .word-2{
        font-size: 14px;
    }
    .word-2 span{
        margin-left: 4px;
        font-size: 22px;
    }
    img.gifts-title{
        width: 100% !important;
        margin-bottom: 16px;
    }
    .gifts-top img:last-child,
    .gifts-bottom img:first-child{
        /* display: none; */
    }
    .gifts-middle{
        display: flex;
        width: 100%;
        background: url(../images/img_giftshelf_normal.webp)no-repeat bottom/contain;
        padding: 0 5% 1%;
        margin-bottom: 32px;
    }
    .gifts-box img{
        width: calc(100% / 2);
    }
    .modal-window{
        left: 0%;
        width: 100%;
        font-size: 22px;
        padding: 16px;
    }
    .modal-window img{
        width: 75%;
    }
}