body{width:100vw;height:100vh;overflow-x:hidden;background: #2a3445;}
.order-0{padding-top: 60px !important;}
.vh-100{height:100vh;}
.t-0{top:0}
.b-0{bottom:0;}
.l-0{left:0;}
.r-0{right:0;}
.lh{line-height:1.5rem;}
.z-0{z-index:0;}
.z-1{z-index:1;}
.h6{font-size:1rem;}
.title{height:60px;top:0;}
.title-word{vertical-align: middle;}
.btn-c{
    background: rgb(251,183,38);
    background: -moz-linear-gradient(0deg, rgba(251,183,38,1) 0%, rgba(255,255,0,1) 70%, rgba(251,183,38,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(251,183,38,1) 0%, rgba(255,255,0,1) 70%, rgba(251,183,38,1) 100%);
    background: linear-gradient(0deg, rgba(251,183,38,1) 0%, rgba(255,255,0,1) 70%, rgba(251,183,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbb726",endColorstr="#fbb726",GradientType=1);
    border-radius:15px;
    box-shadow:3px 3px 0px #000,0px 0px 10px #000 inset;
    color:#000;
}
.flashing{animation: flashing alternate infinite .8s linear}
.text-blue{color:#12699e;}
.text-sky{color:#dbf9fb;}
.bg-blue{background:#12699e;}
.bg-blue-pouple{background:linear-gradient(180deg,#9a3fff 0%,#3afdff 100%);}
.bg-sky{background:#dbf9fb;}
.h-60px{height: 60px;}
.h-max{font-size: 5rem;}
.bg-black-50{background-color:rgba(0,0,0,.5);}
.bg-white-50{background-color:rgba(255,255,255,.5);}
.bg-gold{
    background: rgb(77,45,23);
    background: -moz-linear-gradient(90deg, rgba(77,45,23,1) 0%, rgba(139,90,48,1) 50%, rgba(77,45,23,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(77,45,23,1) 0%, rgba(139,90,48,1) 50%, rgba(77,45,23,1) 100%);
    background: linear-gradient(90deg, rgba(77,45,23,1) 0%, rgba(139,90,48,1) 50%, rgba(77,45,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d2d17",endColorstr="#4d2d17",GradientType=1);
    border:0;
    border-radius:5px;
    color:rgba(255,255,255,.8);
}
.bg-gold:before{
    content:'';
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    top:-2px;
    bottom:-2px;
    left:-2px;
    right:-2px;
    background: rgb(164,134,90);
    background: -moz-linear-gradient(90deg,rgba(164,134,90,1) 0%,rgba(228,223,216,1) 50%,rgba(182,147,95,1) 75%,rgba(228,223,216,1) 100%);
    background: -webkit-linear-gradient(90deg,rgba(164,134,90,1) 0%,rgba(228,223,216,1) 50%,rgba(182,147,95,1) 75%,rgba(228,223,216,1) 100%);
    background: linear-gradient(90deg,rgba(164,134,90,1) 0%,rgba(228,223,216,1) 50%,rgba(182,147,95,1) 75%,rgba(228,223,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4865a",endColorstr="#a4865a",GradientType=1);
    border-radius:5px;
    z-index:-1;
}
.game-pic{width:100%;padding-bottom:61%;}
.btn-where{bottom: 3%;right: 16.25%;}
.ph-img{display:none !important;}
.service-icon{width:180px;height:180px;border:4px solid #12699e;}
.warp-box{padding-bottom:74.2%;}
.img-r{background:url(../images/arrow-r.png)no-repeat center/contain;}
.img-l{background:url(../images/arrow-l.png)no-repeat center/contain;}
.img-d{background:url(../images/arrow-d.png)no-repeat center bottom/contain;}
.hover:hover{-webkit-filter:drop-shadow(0px 0px 15px #ff0);}
.btn-2{left:50%;transform:translateX(-50%);}
.pc-only{display:block;}
.pc-none{display:none !important;}
.ph-none{display:flex !important;}

/* 試玩頁面 */
.card-body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.modal-dialog{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    max-width: none;
    margin: 0;
}

/* 註冊頁 */
.main-place{
    margin-top: 60px;
}
.bg-box{
    top:0;
    background:url(../images/Web2_1920x565.jpg)no-repeat center/cover;
    z-index:0;
}
.bg-box::before{
    content: '';
    position: absolute;
    top: -25px;
    width: 100%;
    height: 50px;
    background:linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    z-index:0;
}
.data-box{
    background: #1d0c34;;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 35px #ab6eff, 0 0 35px #ab6eff inset;
}
.form-input{
    display: block;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    background: transparent;
    border-radius: 5px;
    color: #a8a8a8;
    border: none;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}
.input-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    padding: 5px 10px;
    background: #e9e9e9;
    border: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.checknum_img {
    position: absolute;
    width: 40%;
    display: block;
    right: 0px;
    bottom: 0px;
    height: 50px;
}
.poperrorMsg {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 0;
    bottom: 52px;
    right: 15px;
    width: auto;
    background: #ff4ae1;
    color: #fff;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
}
.care-icon{height:20px;}
.poperrorMsg:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin: auto;
    right: 10px;
    bottom: -6px;
    display: block;
    border-color: #ff4ae1 transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0;
}
.sumbit-btn {
    border:2px solid #fff;
    border-radius:10px;
    color:#fff;
    font-weight: bolder;
    background-color: transparent;
    font-family: 'Maitree', serif;
}
.step{
    height: 140px;
    background: rgb(55, 61, 63);
    background: -moz-linear-gradient(90deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17c7ff",endColorstr="#ffffff",GradientType=1);
}
.step-arrow:before{
    content:'';
    position: absolute;
    left: -1px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 0 70px 30px;
    border-color: transparent transparent transparent #fff;
}
.main-word{color:#fff;font-family: 'Maitree', serif;text-shadow: 2px 2px 5px #ab6eff,2px 0px 5px #ab6eff,2px -2px 5px #ab6eff,0px -2px 5px #ab6eff,-2px -2px 5px #ab6eff,-2px 0px 5px #ab6eff,-2px 2px 5px #ab6eff,0px 2px 5px #ab6eff;}
.waring{font-size:.7rem;color:#f00;}

/* 註冊成功頁 */
.suceful-page{height:calc(100vh - 56px);}
.break-all{word-break:break-all;}
.suceful-page .h1{color:#fff;font-family: 'Maitree', serif;text-shadow: 2px 2px 5px #ab6eff,2px 0px 5px #ab6eff,2px -2px 5px #ab6eff,0px -2px 5px #ab6eff,-2px -2px 5px #ab6eff,-2px 0px 5px #ab6eff,-2px 2px 5px #ab6eff,0px 2px 5px #ab6eff;}
.suceful-page .h3{color:#ec8ffa;text-shadow: 2px 2px 3px #fff,2px 0px 3px #fff,2px -2px 3px #fff,0px -2px 3px #fff,-2px -2px 3px #fff,-2px 0px 3px #fff,-2px 2px 3px #fff,0px 2px 3px #fff;}
.suceful-page a{font-size:1rem;}

.main-bg{
    top: 0;
    left: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    -webkit-filter:drop-shadow(5px 5px 0px #fff);
}
.circle{
    bottom: 0%;
    right: 15%;
    width:200px;
    height:0;
    padding-bottom:200px;
    border-radius:50%;
    background:linear-gradient(-45deg,#6a59cc 10%,#3afdff 90%);
}
.circle:nth-child(1){
    top: 5%;
    right: 25%;
    width: 30%;
    padding-bottom: 30%;
    z-index:-1;
    background:linear-gradient(-90deg,#6a59cc 10%,#3afdff 90%);
}
.circle:nth-child(2){
    bottom: 10%;
    right: 35%;
    width: 30%;
    padding-bottom: 30%;
    z-index:-1;
    background:linear-gradient(-90deg,#6a59cc 10%,#3afdff 90%);
}
.circle:nth-child(6){
    bottom: 20%;
    right: 5%;
    width:80px;
    padding-bottom:80px;
}
.circle:nth-child(7){
    top: 10%;
    left:5%;
    width:150px;
    padding-bottom:150px;
}
.circle:nth-child(8){
    top: 0%;
    left:15%;
    width:50px;
    padding-bottom:50px;
}
.s-img:nth-child(9){top: 10%;left: 40%;width: 15%;}
.s-img:nth-child(10){top: 23%;left: 57%;width: 10%;}
.s-img:nth-child(11){bottom: -5%;left:15%;width: 10%;}
.s-img:nth-child(12){bottom: 0%;left: 23%;width: 12%;}
.footer{
    padding: 10% 3rem;
}
.footer>div:nth-child(3)::before{
    content:'';
    position:absolute;
    top:-15%;
    left:-60%;
    width:150%;
    padding-bottom:150%;
    background:url(../images/bubble.png)no-repeat center/contain;
}
.footer>div:nth-child(3)::after{
    content:'';
    position:absolute;
    bottom:-15%;
    right:-30%;
    width:60%;
    padding-bottom:60%;
    background:url(../images/bubble2.png)no-repeat center/contain;
    z-index:1;
}
.footer>div:nth-child(7)::before{
    content:'';
    position:absolute;
    top:5%;
    left:-50%;
    width:100%;
    padding-bottom:100%;
    background:url(../images/bubble.png)no-repeat center/contain;
}
.other{padding:1% 0 !important;}

/* 20220328 */
.form-label{
    position: absolute;
    left: 8px;
    color: #fff;
    transition: transform .2s ease;
}
.form-label.active{
    transform: scale(.9) translateY(-120%);
    transform-origin: left;
    background: #1d0c34
}
.game-logo{
    background: url(../images/bubble.png)no-repeat center/contain;
    width: 150px;
    padding: 2rem;
    transition: transform .2s ease;
}
.logo-box:hover .game-logo{
    transform: scale(1.2);
}



/* serivce */
.service{bottom: 60px;right: 10px;z-index: 10;}
.service-btn{cursor: pointer;background: transparent;border: none;}
.service-img{height: 48px;}
.iframe-box{display: none;bottom: -5px;right: -5px;width: 360px;height: 480px;background: #000;}
.iframe-box.open{display: block;}
.colse-btn{top: 4%;right: 2%;width: 40px;height: 40px;background: #dfd839;border: 2px solid #787425;border-radius: 5px;cursor: pointer;color: #787425;}
@media screen and (any-hover: none) and (any-pointer:coarse) {
    .iframe-box{display: none;bottom: -10px;right: -10px;width: 100vw;height: 100vh;background: #000;}
}

@keyframes flashing {
    0%{
        box-shadow: 0 0 20px transparent, 0 0 20px transparent inset;
    }
    100%{
        box-shadow: 0 0 20px #ab6eff, 0 0 20px #ab6eff inset;
    }
}

@media screen and (max-width:768px) {
    .pc-only{display:none;}
}
@media screen and (max-width:500px) {
    .position-ph-relative{position:relative !important;}
    .title{height:80px;}
    .title-word{display:none !important;}
    .pc-none{display:block !important;}
    .ph-none{display:none !important;}
    .ph-arrow{width:100% !important;height:40px;background:url(../images/arrow-d.png)no-repeat center center/contain;}
    .warp-box{padding-bottom:0;}
    .btn-where{bottom: 1%;right:unset;}
    .h1{font-size:1.25rem;}
    .h3{font-size:.8rem;}
    .suceful-page a{font-size:.7rem;}
    .step{
        height: 140px;
        background: rgb(55, 61, 63);
        background: -moz-linear-gradient(180deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
        background: linear-gradient(180deg, rgba(23,199,255,1) 0%, rgba(157,243,255,1) 85%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17c7ff",endColorstr="#ffffff",GradientType=1);
    }
    .step-arrow:before{
        top: -1px;
        border-width: 30px 50vw 0 50vw;
        border-color: #fff transparent transparent transparent;
    
    }
    .footer {padding: 0% 3rem;}
    .recommed{position:absolute;top:-10%;width:50% !important;}
    .footer div{padding: 8% 0 !important;}
}