.btn-top img{
    width: 56px;
}
section{
    background: url(../img_phone/NA7_LP_phone_hell_noassets.webp)no-repeat center/cover;
    padding-bottom: 481%;
}
.page-1{
    padding-bottom: 135vw;
}
.img-title{
    top: 10%;
    left: -1%;
    width: 107%;
}
.img-rollercoaster{
    top: 51%;
    left: -13%;
    width: 31.5%;
}
.img-btn{
    top: 55%;
    left: 17.5%;
    width: 65%;
}

.page-2{
    padding-bottom: 100vw;
}
.img-title-step{
    top: -3%;
    left: 5%;
    width: 90%;
}
.arrow-1{
    top: 24%;
    left: 29%;
    width: 8%;
    animation: translate-arrow .8s linear alternate infinite;
}
.arrow-2{
    top: 24%;
    left: 64%;
    width: 8%;
    animation: translate-arrow .8s .8s linear alternate infinite;
}

.btn-img-ferriswheel{
    top: 0%;
    left: 0%;
    width: 100%;
}
.diagram{
    width: 54%;
}
.diagram.pc{
    display: none;
}
.diagram.ph{
    display: block;
}
.diagram>div{
    position: relative;
    width: 100%;
    padding-bottom: 161%;
    margin: 0;
}
.phone-img-num{
    top: -5% !important;
    left: -10% !important;
    width: 25%;
    height: auto !important;
    z-index: 1;
}
.pre-arrow{
    top: 42% !important;
    left: 5% !important;
    width: 20%;
    height: auto !important;
    transform: rotateY(180deg);
    z-index: 1;
}
.next-arrow{
    top: 42% !important;
    left: unset !important;
    right: 5%;
    width: 20%;
    height: auto !important;
    z-index: 1;
}

.img-title-notice{
    top: 0%;
    left: 5%;
    width: 90%;
}

.page-4{
    padding-bottom: 160vw;
}
.page-4 .phone-text{
    display: block;
    top: 5%;
    left: 5%;
    width: 90%;
}
.page-4 .notice-text{
    display: block;
    top: 13%;
    left: 0%;
    width: 100%;
}
.page-4 .logo{
    display: block;
    top: 80%;
    left: calc(50% - 90px);
    width: 180px;
}

@keyframes coin01 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(70deg) scale(0);opacity: 0;}
    100%{top: 15%;left: 2%;transform: translate( -50%, -50%) rotateZ(70deg) scale(1);opacity: 1;}
}
@keyframes coin02 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(-10deg) scale(0);opacity: 0;}
    100%{top: 41%;left: 4%;transform: translate( -50%, -50%) rotateZ(-10deg) scale(1);opacity: 1;}
}
@keyframes coin03 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(65deg) scale(0);opacity: 0;}
    100%{top: 8%; left: 30%; transform: translate( -50%, -50%) rotateZ(65deg) scale(1);opacity: 1;}
}
@keyframes coin04 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(0deg) scale(0);opacity: 0;}
    100%{top: 54%;left: 24%;transform: translate( -50%, -50%) rotateZ(0deg) scale(1);opacity: 1;}
}
@keyframes coin05 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(0deg) scale(0);opacity: 0;}
    100%{top: 5%;left: 69%;transform: translate( -50%, -50%) rotateZ(0deg) scale(1);opacity: 1;}
}
@keyframes coin06 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(75deg) scale(0);opacity: 0;}
    100%{top: 58%;left: 70%;transform: translate( -50%, -50%) rotateZ(75deg) scale(1);opacity: 1;}
}
@keyframes coin07 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(80deg) scale(0);opacity: 0;}
    100%{top: 51%;left: 89%;transform: translate( -50%, -50%) rotateZ(80deg) scale(1);opacity: 1;}
}
@keyframes coin08 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(80deg) scale(0);opacity: 0;}
    100%{top: 13%;left: 95%;transform: translate( -50%, -50%) rotateZ(80deg) scale(1);opacity: 1;}
}
@keyframes coin09 {
    0%{top: 50%;left: 50%; transform: translate( -50%, -50%) rotateZ(75deg) scale(0);opacity: 0;}
    100%{top: 36%;left: 100%;transform: translate( -50%, -50%) rotateZ(75deg) scale(1);opacity: 1;}
}

#leaves {
    top: 16%;
}