section{
    background: url(../images/img_bn_snow_normal.webp)no-repeat 0% -2%/100%,
                url(../images/img_bg_led_left_normal.webp)no-repeat left 2%/45%, 
                url(../images/img_bg_led_right_normal.webp)no-repeat right 2%/45%,
                url(../images/img_bg_ball_left_normal.webp)no-repeat left 2%/20%, 
                url(../images/img_bg_ball_right_normal.webp)no-repeat right 2%/20%,
                url(../images/img_bg_normal.webp)no-repeat top/cover;
    padding: 196px 20% 90px;
}
.promotion-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 4px solid #FFD8AB;
    border-radius: 40px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 7%;
}
.promotion-title{
    position: absolute;
    top: -6.5%;
    left: 27.5%;
    width: 45%;
}
.main-title{
    color: #FFB400;
    font-size: 28px;
}
.main-word{
    margin-bottom: 40px;
}

@media screen and (max-width:575px) {
    section{
        background: url(../images/img_bn_snow_normal.webp)no-repeat 0% -0.75%/100%,
                    url(../images/img_bg_led_left_normal.webp)no-repeat left 0%/45%, 
                    url(../images/img_bg_led_right_normal.webp)no-repeat right 0%/45%,
                    url(../images/img_bg_normal.webp)no-repeat top/cover;
        padding: 72px 5% 64px;
    }
    .promotion-main{
        border-radius: 20px;
        font-size: 16px;
        padding: 5%;
    }
    .promotion-title{
        top: -6.5%;
        left: 5%;
        width: 90%;
    }
    .main-title{
        font-size: 22px;
    }
    .main-word{
        margin-bottom: 16px;
    }
}