*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Sriracha', cursive;
}
button{
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    background: #000;
    padding: 0 66px;
    z-index: 1;
}
nav button{
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;
    color: #FFD8AB;
    padding: 5px;
}
.bi::before {
    font-size: 2.25rem;
}

nav img{
    height: 100%;
    padding: 18px 0;
}
nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}
nav li{
    position: relative;
    height: 100%;
    padding: 0 8px;
}
nav li:hover ::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #FFB98B;
    transform: translateX(-50%);
}
nav a{
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/img_bn_snow_normal.webp)no-repeat 0% -1%/100%,
                url(../images/img_bg_led_left_normal.webp)no-repeat left 2%/45%, 
                url(../images/img_bg_led_right_normal.webp)no-repeat right 2%/45%,
                url(../images/img_bg_ball_left_normal.webp)no-repeat left 2%/20%, 
                url(../images/img_bg_ball_right_normal.webp)no-repeat right 2%/20%,
                url(../images/img_bg_normal.webp)no-repeat top/cover;
    padding: 113px 20% 90px;
    margin-top: 88px;
}


@media screen and (max-width:575px) {
    nav {
        justify-content: center;
        padding: 0;
    }
    nav button{
        display: flex;
    }
    nav img{
        width: 30%;
        height: auto;
        padding: 0;
    }
    nav ul{
        position: absolute;
        top: 88px;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 88px);
        background: #000000e6;
        transform: translateX(-100%);
        transition: transform .4s ease;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav li {
        width: 100%;
        height: auto;
        padding: 16px 8px;
    }
    nav li.active{
        background: linear-gradient(180deg,#E93B39, #761919);
        border-bottom: 2px solid #FFD8AB;
    }
    nav a {
        justify-content: center;
    }
    section{
        background: url(../images/img_bn_snow_normal.webp)no-repeat 0% -0.75%/100%,
                    url(../images/img_bg_led_left_normal.webp)no-repeat left 0%/45%, 
                    url(../images/img_bg_led_right_normal.webp)no-repeat right 0%/45%,
                    url(../images/img_bg_normal.webp)no-repeat top/cover;
        padding: 32px 0% 90px;
    }
}